*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    width: 100%;
    height: 120vh;
    background-color: rgb(255, 255, 255);
}
.topper{
    
    height: 127vh;
    background-image: url("/img/XCbLxne4HhcBPlbrrFbTNz5DUGv1-f0a3g92.jpeg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 830px 1000px;
    position: relative;
}
nav{
    margin: 0 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-weight: 500;
}
.one, .two{
    font-weight: 800;
}
.two{
    color: rgb(0, 174, 255);
}
.nav-item ul{
    display: flex;
}
.nav-item ul li{
    list-style: none;
    margin: 30px 10px;
}
.nav-item ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.726);
}
.content{
    margin: 80px 130px;
}
.content p{
    margin-right: 750px;
    line-height: 29px;
    text-align: justify;
    margin-bottom: 20px;
}
.content h1{
    font-size: 60px;
    line-height: 65px;
    margin-bottom: 30px;
}
.link{
    margin: 60px 0;
}
.link a{
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 25px;
    margin-right:  10px;
    font-weight: 600;
}
.link #on{
    background-color: rgb(0, 174, 255);
    color: rgba(255, 255, 255, 0.911);
}
.link #to{
    background-color: black;
    color: rgba(255, 255, 255, 0.897);
}
.about{
    
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 33, 37);
    padding-top: 10px;
    height: 120vh;
}
.count{
    margin: 100px 130px;
    display: flex;
    justify-content: space-around;
}
.project h1{
    font-size: 45px;
    color: rgba(255, 255, 255, 0.829);
    margin-bottom: 15px;
}
.project p{
    font-weight: 600;
    color: rgba(255, 255, 255, 0.61);
}
.me{
    display: flex;
    
}
.me img{
    width: 480px;
    margin-left: 195px;
    margin-right: 30px;
    position: relative;
}
.description p{
    margin-right: 240px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.781);
    text-align: justify;
    margin-bottom: 30px;
}
.description a{
    text-decoration: none;
    background-color: rgb(0, 174, 255);
    padding: 15px 25px;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.842);
    font-weight: 600;
}
.description a:hover{
    background-color: rgba(0, 174, 255, 0.815);
}
.main{
    display: flex;
    flex-direction: column;
    margin: 150px 194px;
    position: relative;
}
.write{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write h1{
    font-size: 38px;
    margin-right: 35px;
}


.works {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 70px 0;
}
.works div{
    margin: 20px 0;
}
.work p{
    margin-right: 70px;
    line-height: 30px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.795);

}

.work h4{
    margin: 20px 0;
    color: rgba(0, 0, 0, 0.842);
}
.work a{
    text-decoration: none;
    color: rgb(0, 174, 255);
}
.logo2 a{
    text-decoration: none;
    background-color: rgb(0, 174, 255);
    padding: 15px 25px;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.89);
    font-weight: 600;
}
.logo2 a:hover{
    background-color: rgba(0, 174, 255, 0.726);
}
.portfolio{
    
    margin-left: 130px;
    
}

.fortfolio-img img{

    width: 600px;
    
    margin: 90px 90px 90px 0;
}
.m-portfolio{
    margin-top: 30px;
    display: flex;
    background-color: rgb(41, 38, 38);
    position: relative;

}
.portfolio-project{
    margin: 90px;

}
.portfolio-project h5{
    color: rgba(255, 255, 255, 0.842);
    margin: 0 0 20px 0;
}
.portfolio-project h3{
    color: rgba(255, 255, 255, 0.849);
    margin: 0 0 35px 0;
}
.portfolio-project p{
    text-align: justify;
    line-height: 35px;
    margin: 0 0 35px 0;
    color: rgba(255, 255, 255, 0.808);
}
.portfolio-project a{
    display: block;
    background-color: rgb(0, 174, 255);
    text-align: center;
    padding: 20px 0;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.842);
}
.portfolio-project a:hover{
    background-color: rgba(0, 174, 255, 0.781);
}